<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="fileToUploadPath" value="C:\TestStorage\Client\fileToUpload.txt"/>
    <add key="downloadResultFilePath" value="C:\TestStorage\Client\downloadedFile.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFileStorageService" maxReceivedMessageSize="4294967295" transferMode="Streamed"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/FileStorage.ServiceLibrary/Service1/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileStorageService" contract="FileStorageServiceReference.IFileStorageService" name="BasicHttpBinding_IFileStorageService"/>
        </client>
    </system.serviceModel>
</configuration>
