<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="fileToUploadPath" value="D:\AMOM\Desktop\testStream\client\fileToUpload.txt"/>
    <add key="downloadResultFilePath" value="D:\AMOM\Desktop\testStream\client\downloadedFile.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding 
                  maxReceivedMessageSize="4294967295" 
                  transferMode="Streamed"
                  receiveTimeout="00:10:00" 
                  sendTimeout="00:10:00"
                  name="BasicHttpBinding_IFileStorageService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/FileStorage.ServiceLibrary/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileStorageService"
                contract="ServiceReference1.IFileStorageService" name="BasicHttpBinding_IFileStorageService" />
        </client>
    </system.serviceModel>
</configuration>